<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur Gossip.com !!</h1>
    <p> La liste des potins arrive bientôt </p>
    <a href="/gossips/new/">Cliquer ici pour créer un nouveau potin</a>
  </body>
</html>