<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur Gossip.com !!</h1>
   	<p><a href="/gossip/new/">Clique ici</a> si tu veux créer un nouveau gossip</p>
    
   	<h2> Liste des potins :</h2>
    <% gossips.each_with_index do |gossip, i| %>

		
    	<p><a href="/gossips/<%= i + 1 %>">Potin n°<%= i + 1 %></a></p>

    <% end %>

  </body>
</html>