<html>
  <head>
    <title>PAGE POTIN</title>
  </head>
  <body>
  	<h1>PAGE POTIN</h1>
    <p>Voici la page du potin n°<%= id_gossip %></p>
    <h2><%= gossip.author %></h2>
    <p><%= gossip.content %></p>

  </body>
</html>